@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 75%;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  justify-content: center;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

#books-section {
}

.books {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 20px;
}

input {
  width: 100%;
}

.add-btn {
  width: 40px;
}

.book-wraper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.625rem;
  min-width: 600px;
  padding: 10px 20px 10px 20px;
}

.book-wraper:nth-child(odd) {
  background-color: rgb(214, 208, 208);
}

.book-wraper:nth-child(even) {
  background-color: white;
}

.book-wraper>h3 {
  font-family: 'Courgette', cursive;
  font-weight: normal;
  font-size: 1.3rem;
}

.remove-button {
  margin-left: auto;
  background-color: rgb(243, 241, 241);
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  height: 30px;
  width: 100px;
}